* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* part 1: */
#movable {
    width: 50px;
    height: 50px;
background-color: blue;
    position: absolute;
    /* transform: translateY(100px) */
}

h1 {
    user-select: none;
}

.hiddenDiv_wrapper {
    position: relative;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* part 2: */
.hidden {
    display: none;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

/* Style for the hidden div when it's visible */
.hidden.show {
    display: block;
}